footer {
  padding-block: 1rem;

  & .container {
    flex-direction: column;
  }
}

@media (width >=80em) {
  footer {
    padding-block: 1.5rem;

    & .container {
      flex-direction: row;
    }
  }

  & .copy {
    margin-right: auto;
  }
}