nav {
  padding-block: 1rem;

  & .right {
    margin-left: auto;

    & .icon-search svg path {
      fill: var(--text-color-secondary);
    }

    & .icon-search:hover,
    & .icon-search:hover svg path {
      fill: var(--brand-color);
      cursor: pointer;
    }

    & img:last-child {
      width: 2.5rem;
    }
  }
}

@media (width >=80em) {
  nav {
    padding-block: 2rem;
  }
}